@model NarudzbaDetaljiVM
@{
    ViewData["Title"] = "ExportAsPdf";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="row justify-content-between mb-md-2">
        <div class="col-md-12 p-md-3">
            <h5>Informacije o narudžbi</h5>
            <hr class="mb-2" />
            <p class="mb-1">Broj narudžbe: @Model.BrojNarudzbe</p>
            <p class="mb-1">Datum naručivanja: @Model.Datum.ToShortDateString()</p>
            <p class="mb-1">Kupac: @Model.Kupac</p>
            <p class="mb-1">Adresa: @Model.Adresa</p>
            <p class="mb-1">Napomena:</p>
            <p class="p-md-2 bg-light" style="border:1px solid gray; border-radius:5px;">@Model.Napomena</p>
        </div>
    </div>
    <div class="container-fluid align-content-center justify-content-center mt-md-5 pr-0 pl-0">
        <table class="table mt-md-2">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Šifra</th>
                    <th scope="col">Proizvod</th>
                    <th scope="col">Dimenzija</th>
                    <th scope="col">Količina</th>
                    <th scope="col">Cijena</th>
                    <th scope="col">Popust(%)</th>
                    <th scope="col">Ukupno</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listaStavki)
                {
                    <tr>
                        <td></td>
                        <td>@item.Sifra</td>
                        <td>@item.Proizvod</td>
                        <td>@item.Dimenzija</td>
                        <td>@item.Kolicina</td>
                        <td>@item.Cijena KM</td>
                        <td>@item.Popust</td>
                        <td>@item.Ukupno KM</td>
                    </tr>
                }
                <tr class="font-weight-bold">
                    <td colspan="6"></td>
                    <td>Međusuma</td>
                    <td>@Model.Medusuma</td>
                </tr>
                <tr class="font-weight-bold">
                    <td colspan="6"></td>
                    <td>Troškovi dostave</td>
                    <td>@Model.TroskoviDostave</td>
                </tr>
                <tr class="bg-light font-weight-bold">
                    <td colspan="6"></td>
                    <td>Ukupno</td>
                    <td>@Model.UkupnoZaPlatit</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

